<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/courses"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ course?.name }} </ion-title>
    <ion-buttons slot="primary">
      <ion-button ><ion-icon name="logo-github" defaultHref="https://github.com/famzila/2022-WEB-PROGRAM"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <ion-img [src]="course?.imgUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 text-center>{{ course?.name }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- <ion-list>
          <ion-item *ngFor="let sub of subcourses">
          </ion-item>
        </ion-list> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
